# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

# PyInstaller Build Folders
build/
dist/
*.spec

# Temp & Local scratch
.tempmediaStorage/
scratch/

# Ignore executables EXCEPT GESA.exe
*.exe
!GESA.exe
